html, body, div, form, fieldset, legend, label {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th, td {
  text-align: left;
  vertical-align: top; }

h1, h2, h3, h4, h5, h6, th, td, caption, p {
  margin: 0;
  color: #6c7678;
  font-weight: normal; }

h1, h2, h4, h5, h6 {
  font-family: "Pompiere";
  font-variant: small-caps;
  letter-spacing: 1px; }

img {
  border: 0; }

body {
  margin: 0;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  background-color: #F0F0F0; }

h1 {
  font-size: 3.5em;
  font-weight: 300;
  text-align: center;
  margin-bottom: 25px; }

h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 28px; }

h3, p {
  font-family: "Lato";
  font-weight: 300; }

h3 {
  margin: 10px 0;
  font-size: 14px; }

h4 {
  font-size: 2.25em; }

p {
  font-size: 18px;
  line-height: 28px; }

hr {
  border: none;
  height: 1.5px;
  width: 75%;
  margin: 3% auto;
  background: #ccc; }

.sidebar {
  width: 25%;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 125px; }
  .sidebar hr {
    color: #c1c0c0;
    width: 75px;
    margin-top: 1em;
    margin-bottom: 1.5em; }

.blog_index {
  width: 65%;
  float: left;
  margin: 5%; }

.preview {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 25px; }
  .preview div {
    display: inline; }

.preview-image {
  padding-right: 35px;
  width: 150px;
  height: 150px; }

.preview-info {
  display: inline; }
  .preview-info h2, .preview-info h3, .preview-info p {
    display: block; }

.hp-authors {
  padding: 80px; }
  .hp-authors h4 {
    color: #0b987a; }

.hp-author-image {
  width: 100%; }

.hp-cats h4 {
  color: #d02a60; }

h2 {
  color: #0b987a;
  font-size: 2.5em; }

.authors, .about {
  margin: 100px 200px; }

.authors_lindy, .authors_sarah {
  margin-bottom: 50px; }
  .authors_lindy .sarah_headshot, .authors_lindy .lindy_headshot, .authors_sarah .sarah_headshot, .authors_sarah .lindy_headshot {
    width: 200px;
    height: 200px;
    clear: both;
    padding-top: 8px; }
  .authors_lindy p, .authors_sarah p {
    display: block;
    margin-bottom: 25px; }

.authors_lindy .lindy_headshot {
  float: left;
  margin-right: 25px; }

.authors_lindy p {
  margin-left: 0px; }

.authors_sarah {
  clear: both; }
  .authors_sarah h2 {
    text-align: right; }
  .authors_sarah .social_links {
    text-align: right; }
  .authors_sarah .sarah_headshot {
    float: right;
    margin-left: 25px; }

.author_contact {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100px;
  margin: 20px 0 15px 0; }
  .author_contact img {
    width: 35px;
    height: 35px;
    display: inline-block; }

.about p {
  margin: 0 0 25px 0; }

header {
  padding: 10px 15px 0px 15px;
  border-bottom: 1px solid #c1c0c0;
  box-shadow: 0px 1px 10px 1px #c1c0c0; }

.plants {
  background-image: url(../img/succulents.jpg), url(../img/roses.jpg), url(../img/leaves.jpg);
  background-repeat: no-repeat;
  background-position: left, center, right;
  background-size: 32.6%;
  height: 250px;
  width: 100%; }

.header_nav, .blog_nav {
  text-align: center;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 26px;
  font-variant: small-caps;
  color: #6c7678;
  height: 65px;
  padding-top: 10px; }
  .header_nav a, .header_nav .current, .blog_nav a, .blog_nav .current {
    margin: 25px;
    text-decoration: none; }
  .header_nav a, .blog_nav a {
    color: #6c7678; }
  .header_nav .nav_home:hover, .blog_nav .nav_home:hover {
    color: #000000; }
  .header_nav .nav_authors:hover, .blog_nav .nav_authors:hover {
    color: #0b987a; }
  .header_nav .nav_about:hover, .blog_nav .nav_about:hover {
    color: #d02a60; }
  .header_nav .nav_blog:hover, .blog_nav .nav_blog:hover {
    color: #89ccd7; }
  .header_nav .nav_title, .blog_nav .nav_title {
    font-size: 75px;
    font-weight: 100;
    line-height: 40px; }
  .header_nav .current, .blog_nav .current {
    color: #89ccd7; }

.blog_nav {
  width: 100%;
  clear: both; }

footer {
  text-align: center;
  padding: 50px;
  background-color: #F0F0F0;
  color: #30343D;
  margin-top: 25px;
  border-top: 1px solid #c1c0c0;
  box-shadow: 0px 1px 10px 1px #c1c0c0;
  display: block;
  bottom: 0;
  left: 0;
  min-height: 100%;
  clear: both; }
  footer .contact img {
    width: 30px;
    height: 30px;
    padding: 5px; }
  footer p {
    font-size: 1.2em;
    font-variant: small-caps;
    color: #c1c0c0; }
