h2 {
  color: $green;
  font-size: 2.5em;
}
.authors, .about {
  margin: 100px 200px;
}
.authors_lindy, .authors_sarah {
  margin-bottom: 50px;
  .social_links {

  }
  .sarah_headshot, .lindy_headshot {
    width: 200px;
    height: 200px;
    clear: both;
    padding-top: 8px;
  }
  p {
    display: block;
    margin-bottom: 25px;

  }
}
.authors_lindy {
  .lindy_headshot {
    float: left;
    margin-right: 25px;
  }
  p {
      margin-left: 0px;
  }
}
.authors_sarah {
  h2 {
    text-align: right;
  }
  clear: both;
  .social_links {
    text-align: right;
  }
  .sarah_headshot {
    float: right;
    margin-left: 25px;
  }
}
.author_contact {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin: 20px 0 15px 0;
  img {
    width: 35px;
    height: 35px;
    display: inline-block;
  }
}

.about {
  p {
    margin: 0 0 25px 0;
  }
}

.blog_nav {

}
